
<script type="text/javascript">
function checkBoardWrite() {
	var frm = document.form1;
	
	if (!frm.subject.value) {
		alert("제목을 입력해주세요");
		frm.subject.focus();
		return false;
	}
	
	if (!frm.content.value) {
		alert("내용을 입력해주세요");
		frm.content.focus();
		return false;
	}
	
	if (!frm.section.value) {
		alert("종류를 선택해주세요")
		return false;
	}
	
	frm.submit();
}
</script>

<div class="container">
	<h2 align="center">관리자 공지사항 수정</h2>
	<form action="/admin/admin_board_modify" name="form1" method="post">
		<input type="hidden" name="pg" th:value="${pg}">
		<input type="hidden" name="seq" th:value="${seq}">
		<table class="table" style="width: 450px;">
			<tr align="center">
				<th width="100">제목</th>
				<td width="350"><input type="text" name="subject"
				 size="44" th:value="${board.subject}"></td>
			</tr>
			<tr align="center">
				<th>내용</th>
				<td><textarea rows="10" cols="45" name="content">[[${board.content}]]</textarea></td>
			</tr>
			<tr align="right">
				<th colspan="2">
					<input type="button" value="글수정" onclick="checkBoardWrite()">
					<input type="reset" value="다시 작성">
				</th>
			</tr>
			<tr align="center">
				<td colspan="2">
					<label>공지 종류 : </label>
					<th:block th:if="${board.section == '[시스템점검]'}">
						<input type="radio" name="section" value="[시스템점검]" checked>
						<label>[시스템 점검]</label>
						<input type="radio" name="section" value="[극장]">
						<label>[극장]</label>					
					</th:block>
					<th:block th:if="${board.section == '[극장]'}">
						<input type="radio" name="section" value="[시스템점검]">
						<label>[시스템 점검]</label>
						<input type="radio" name="section" value="[극장]" checked>
						<label>[극장]</label>					
					</th:block>
				</td>
			</tr>
		</table>
	</form>

</div>
