<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../css/bootstrap.min.css">
<script type="text/javascript">
	function checkInput() {
		var frm = document.form1;
		
		if (!frm.title.value) {
			alert("영화 제목을 입력하세요.");
			frm.title.focus();
			return false;
		}
		if (!frm.synopsis.value) {
			alert("영화 줄거리를 입력하세요.");
			frm.synopsis.focus();
			return false;
		}
		if (!frm.country.value) {
			alert("제작 국가를 입력하세요.");
			frm.country.focus();
			return false;
		}
		if (!frm.director.value) {
			alert("감독 이름을 입력하세요.");
			frm.director.focus();
			return false;
		}
		if (!frm.runningtime.value || isNaN(frm.runningtime.value)) {
			alert("상영시간을 숫자로 입력하세요");
			frm.runningtime.value = "";
			frm.runningtime.focus();
			return false;
		}
		if (!frm.releasedate.value) {
			alert("영화개봉일을 연도-월-일로 입력하세요.");
			frm.releasedate.focus();
			return false;
		}		
		if (!frm.genre.value) {
			alert("영화 장르를 입력하세요.");
			frm.genre.focus();
			return false;
		}
		if (!frm.actors.value) {
			alert("출연 배우진을 입력하세요.");
			frm.actors.focus();
			return false;
		}

		frm.submit();
	}
</script>
</head>
<body>
<div th:replace="~{layouts/header}"></div>

<div class="container">
	<form action="/movieinfo/movie_info_modify" name="form1" method="post"
	 enctype="multipart/form-data">
	 	<input type="hidden" name="pg" th:value="${pg}">
	 	<input type="hidden" name="seq" th:value="${seq}">	 	
		<table class="table" style="width: 700px; margin:auto;">		
			<tr align="center" class="table-success">
				<td>영화 정보 수정</td>
			</tr>
			<tr>
				<td>
					<input type="text" name="title"
					 placeholder="영화명" th:value="${info.title}"> 
				</td>
			</tr>
			<tr>
				<td>
					<textarea rows="15" cols="90" name="synopsis"
					 placeholder="영화 줄거리">[[${info.synopsis}]]</textarea>
				</td>
			</tr>
			<tr>
				<td>
					<input type="text" name="country"
					 placeholder="제작국가" th:value="${info.country}">
					<input type="text" name="director"
					 placeholder="감독" th:value="${info.director}"> 
					<input type="text" name="runningtime"
					 placeholder="상영 시간" th:value="${info.runningtime}"> 
				</td>
			</tr>
			<tr>
				<td>
					<select name="agerating">
						<option value="0">전체이용가</option>
						<option value="12">12세 이상</option>
						<option value="15">15세 이상</option>
						<option value="18">18세 이상</option>
					</select>
					<input type="text" name="releasedate"
					 placeholder="연도-월-일" th:value="${info.releasedate}"> 
				</td>
			</tr>
			<tr>
				<td>
					<input type="text" name="genre"
					 placeholder="장르" th:value="${info.genre}"> 
				</td>
			</tr>
			<tr>
				<td>
					<textarea rows="6" cols="90" name="actors"
					 placeholder="출연 배우진">[[${info.actors}]]</textarea>
				</td>
			</tr>
			<tr>
				<td>
					<input type="text" name="trailer"
					 placeholder="트레일러 src" th:value="${info.trailer}"> 
				</td>
			</tr>
			<tr>
				<td><input type="file" name="movie_img"></td>
			</tr>
			<tr align="right">
				<td>
					<input type="button" value="수정하기"
					 onclick="checkInput()">
					<input type="button" value="목록"
					 onclick="location.href='/movieinfo/movie_info_list'">
				</td>
			</tr>	
		</table>
	</form>
</div>

<div th:replace="~{layouts/footer}"></div>
</body>
</html>